html,body {
    height:100%;
    max-width: 100%!important;
}

span {
    font-size: 18px;
}
.ul-issues {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
    position: relative;
}
.li-issue {
    padding-top: 14px;
}
.li-issue a,
.li-link {
    cursor: pointer;
    text-decoration: underline;
    font-size: 18px;
    /*color: black;*/
}
.li-link {
    text-decoration: none;
    display: block;
    margin-top: 14px;
}

.main-header {
    padding: 3em 3em;
    margin-bottom: 1.5em;
}
.main-header span {
    font-size: 25px;
}
.main-card-container {
    padding: 1.5em;
}
.or-divider {
    font-size: 18px;
    display: block;
    width: 100%;
    text-align: center;
    padding: 1em 0;
}
.header-divider {
    font-size: 18px;
    display: block;
    width: 100%;
    padding: 1em 0;
}
.row .col.radio-group {
    position: relative;
    width: 19.666667%;
    text-align: center;
}
.label-row {
    padding: 1% 3% 0 7%;
}
.strength-slider.inactive .rc-slider-handle {
    background-color: #F5F5F5;
    border-color: lightgrey;
}
.strength-slider .rc-slider-dot  {
    bottom: -7px;
    width: 20px;
    height: 20px;
    border: 2px solid lightgrey;
    background: #F5F5F5;
}
.strength-slider .rc-slider-track {
    visibility: visible!important;
    left: -5%!important;
    width: 112%!important;
    background: lightgrey;
}
.strength-slider .rc-slider-handle,
.strength-slider .rc-slider-handle:hover {
    margin-left: -4px;
    margin-top: -9px;
    width: 20px;
    height: 20px;
    background-color: #0288D1;
    border-color: #0288D1;
}
.shorten.strike-through {
    width: 94%;
}
.add-links {
    padding: 12px 20px;
    height: 100%!important;
    line-height: 24px!important;
}
.dropdown-list {
    padding: 10px;
    position: absolute;
    width: 300px;
    z-index: 5;
}
select {
    display: block;
}
.argument-container {
    padding-top: 2em!important;
}
.argument-box,
.supp-op-box {
    display: inline-block;
}
.argument-box {
    width: 65%;
    overflow: visible;
    margin-right: .5em;
}
.supp-op-box {
    width: 28%;
}
.smaller-text span {
    line-height: 60px;
    font-size: 1.1em;
}
.no-margins {
    margin: 0!important;
}
.margin-top-3 {
    margin-top: 3em!important;
}
.rank-btn {
    padding: 0 1rem!important;
    margin-left: 7px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
.drd-box {
    padding: 15px;
    min-height: 240px;
}
.delete-box {
    margin-top: 5px;
    padding: 15px;
}
.margin-left-3 {
    margin-left: 1em;
    font-size: 28px;
}
.collection-item.disabled {
    color: #9F9F9F;
}
.visible .collection-item {
    cursor: move;
}
.flex-wrapper {
    margin-top: 18%;
    font-size: 50px;
}
.isSelected {
    border-color: blue!important;
}
.pointer {
    cursor: pointer;
}
.shadowless-input input:focus {
    box-shadow: none!important;
}
.double-list {
    margin-top: 1em!important;
}
.double-list li {
    cursor: pointer;
    border-radius: 3px;
    margin-top: 1em;
}
.double-list li span {
    display: inline-block;
    padding: 1em!important;
}
.double-list li span:last-child {
    display: none!important;
}
.autocomplete-comp {
    margin-top: 5%;
    margin-left: 4%;
}
.hidden {
    display: none!important;
}
.relative {
    position: relative;
}
.check-ico {
    font-size: 25px;
    position: absolute;
    top: 15px;
    right: 25px;
}
.argument {
    margin-top: .5em;
    border: solid 1px lightgrey;
    padding: 1em;
    font-size: 18px;
}
.admin-container label {
    font-size: 18px;
}
.admin-container input {
    width: 50px;
}
.admin-container span {
    padding-top: 1em;
    display: block;
}
.half {
    width: 50%!important;
}
.draggable {
    width: 90%;
}
.dropZone {
    display: block;
    min-height: 261px;
    margin: .5em 0;
    border-radius: 7px;
}
.flex-child {
    flex: 1;
    color: black;
    font-size: 18px;
}
.delete-box span {
    padding-top: 0!important;
    display: inline;
}
.padding-top-2 {
    padding-top: 2em;
}
.padding-right-3 {
    padding-right: 3em;
}

.block{
    display: block;
}
.custom-btn {
    width: 100%;
    text-align: left;
}
.btn-container {
    margin-bottom: .5em;
}
.btn-container div {
    width: 100%!important;
}
.finish-slide {
    margin-top: 25vh;
}
.rounded-on-med {overflow: hidden;
    text-overflow: ellipsis;
}
.modalSideBar {
    padding: 1.5em!important;
    border-radius: 3px;
    border-right: solid 1px #eeeeee;
}
.radioGroup label {
    font-size: 18px!important;
}
.cardFooter {
    padding: .5em;
}
.flex-container {
    margin: 0;
}
.description {
    margin-top: 1em;
}
.example-header {
    /*margin-bottom: 1em;*/
    display: block;
}
.example-actors .single-actor {
    margin-bottom: .5em;
}
.btn-group button {
    margin-left: 1em;
}
@media screen and (max-width: 991px){
    .main-card-container {
        width: 100%;
    }
    .finish-slide h2 {
        font-size: 2rem;
    }
    .label-row span {
        font-size: 12px!important;
    }
    .rounded-on-med {
        display: block;
        margin: 0 auto!important;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        padding: 30px 25px!important;
        margin-bottom: .5em!important;
    }
    .no-border {
        border: none;
    }
    .custom-trash {
        vertical-align: middle;
        font-size: 39px;
        text-align: center;
        display: block;
        margin: 0 auto;
    }
    .dropZone {
        padding: 0!important;
    }
    .delete-box,
    .dropZone ul {
        border: none;
        padding: 7px;
    }
}
@media screen and (max-width: 768px){
    .rounded-on-med {
        display: block;
        margin: 0 auto!important;
        width: 45px;
        height: 45px;
        border-radius: 50%;
        padding: 13px 9px!important;
        margin-bottom: .5em!important;
    }
}